<?xml version="1.0"?>

<launch>

  <arg name="no_static_map" default="false"/>

  <!-- <arg name="base_global_planner" default="sbpl_lattice_planner/SBPLLatticePlannerROS"/> -->
  <arg name="base_global_planner" default="navfn/NavfnROS"/>
  <arg name="base_local_planner" default="dwa_local_planner/DWAPlannerROS"/>
  <!-- <arg name="base_local_planner" default="base_local_planner/TrajectoryPlannerROS"/> -->

  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <!-- navFn with DWA  -->
  		  <rosparam file="$(find steer_bot_navigation)/config/robot/footprint_costmaps.yaml" command="load" ns="local_costmap"/>
		    <rosparam file="$(find steer_bot_navigation)/config/robot/local_costmap_params.yaml" command="load"/>

		    <!-- global costmap parameters -->
		    <rosparam file="$(find steer_bot_navigation)/config/robot/footprint_costmaps.yaml" command="load" ns="global_costmap"/>
		    <rosparam file="$(find steer_bot_navigation)/config/robot/global_costmap_params.yaml" command="load"/>

        <rosparam file="$(find steer_bot_navigation)/config/robot/planner_params.yaml" command="load"/>

		    <!-- local planner parameters -->
		    <rosparam file="$(find steer_bot_navigation)/config/robot/base_local_planner_params.yaml" command="load"/>

        <!-- Load the below parameters for SBPLLatticePlanner as global plan -->

        <!-- <param name="footprint_padding" value="0.01" />
        <param name="controller_frequency" value="10.0" />
        <param name="controller_patience" value="100.0" />
        <param name="base_global_planner" value="SBPLLatticePlanner" />
        <param name="SBPLLatticePlanner/primitive_filename" value="$(find sbpl_lattice_planner)/matlab/mprim/pr2.mprim" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/local_costmap_params_close.yaml" command="load" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/global_costmap_params.yaml" command="load" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/sbpl_global_params.yaml" command="load" />
        <rosparam file="$(find sbpl_lattice_planner)/launch/move_base/base_local_planner_params_close.yaml" command="load" /> -->


  </node>

</launch>
