<?xml version="1.0"?>
<launch>
	<node pkg="steer_bot_navigation" type="localization_icp" name="localization_icp" output="screen">
		<rosparam file="$(find steer_bot_navigation)/launch/LaserICP/icp.yaml" command="load"/>
		<param name="to_publish_tf" value="false"/>
		<param name="fitness_threshold" value="0.0002"/>
		<param name="correspondence_distance" value="0.9"/>
		<param name="max_iterations" value="1000"/>
		<param name="map_folder" value="$(find steer_bot_navigation)/maps/map_city" />
		<param name="further_interpretation_count" value="1"/>
		<param name="further_interpretation_threshold" value="0.0002"/>
		<param name="max_retry_count" value="10"/>
		<remap from="input_laser_scan" to="/steer_bot/scan"/>
		<remap from="target_laser_scan" to="/steer_bot/scan"/>
		<param name="/use_sim_time" value="true"/>

	</node>
</launch>
